// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-secondary: #ad0101;
  --ion-color-secondary-rgb: 112, 1, 173;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #980101;
  --ion-color-secondary-tint: #b51a1a;
}
